div{
    box-sizing: border-box;
}



.box{
    border:1px #000000 solid;
    padding: 20px;
}

.bigBox {
    width: 300px ;
    margin-left: auto;
    margin-right: auto;
    background-color: #f5d6ee;
}

.smallBox{
    margin-top: 10px;
    margin-bottom: 10px;
}

#sb1{
    background-color: #9bdcff;
    font-style: italic;
}

#sb2{
    background-color: #c6bcff;
    font-style: italic;

}